<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logowanie</title>
</head>
<body>
<main class="container">
    <form class="form-signin w-100 m-auto" method="post" th:action="@{/login}">
        <div th:if="${not #lists.isEmpty(param.error)}" class="alert alert-danger" roleEntityJpa="alert" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}"></div>
        <div th:if="${param.logout}" class="alert alert-success" roleEntityJpa="alert">
            You have been logged out.
        </div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="text" id="username" name="username" class="form-control" required autofocus>
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" id="password" name="password" class="form-control" required>
            <label for="password">Password</label>
        </div>
        <div style="margin-bottom: 10px">
            <a hx-get="/register" hx-target=".container" hx-push-url="true" style="cursor: pointer">Nie masz konta? Zarejestruj się</a>
        </div>
        <div>
            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/google" roleEntityJpa="link" style="margin-top: 10px">
                <img src="/images/google.png" th:src="@{/images/google.png}" width="20" style="margin-right: 5px;" alt="Sign in with Google">
                Sign in with Google
            </a>
            <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/github" roleEntityJpa="link" style="margin-top: 10px">
                <img src="/images/github.png" th:src="@{/images/github.png}" width="28" style="margin-right: 5px;" alt="Sign in with Github">
                Sign in with GitHub
            </a>
            <a class="w-100 btn btn-light btn-block bg-white" href="/oauth2/authorization/facebook" roleEntityJpa="link" style="margin-top: 10px">
                <img src="/images/github.png" th:src="@{/images/facebook.svg}" width="22" style="margin-right: 5px;" alt="Sign in with Github">
                Sign in with Facebook
            </a>
        </div>
    </form>
</main>
</body>
</html>